services/api/node_modules/
services/frontend/node_modules/
services/frontend/.next/
services/frontend/next-build/
services/frontend/next-build-user/
services/frontend/next-build-user-f3/
services/frontend/next-build-user-f4/